<div ng:if="$ctrl.editing" class="container">
	<div class="details">
		<div class="top-details">
			<input ng:model="$ctrl.task.Title" placeholder="title"/>
			<input ng:model="$ctrl.task.Status" placeholder="status"/>
		</div>
		<textarea ng:model="$ctrl.task.Description" placeholder="description"></textarea>
	</div>
	<div class="actions">
		<button ng:click="$ctrl.update()" class="update button">Update</button>
		<button ng:click="$ctrl.cancel()" class="cancel button">Cancel</button>
		<button ng:click="$ctrl.del()" class="delete button">Delete</button>
	</div>
</div>
<div ng:if="!$ctrl.editing" class="container">
	<div class="details">
		<span class="title">{{$ctrl.task.Title}}</span>
		<span class="status">{{$ctrl.task.Status}}</span>
		<div class="description">{{$ctrl.task.Description}}</div>
	</div>
	<div class="actions">
		<button ng:click="$ctrl.edit()">Edit</button>
	</div>
</div>